:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--bodyBackground);
  color: var(--fontPrimary);
}

.error {
  color: var(--fontPrimary);
  color: red;
  text-align: center;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid red;
  background-color: #fc948454;
}